 .Login {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 320px;
}

h1{
    font-size: 100px;
    font-weight: 400;
    color: #9FA9A9;
}

p{
    color: #9FA9A9;
    font-size: 50px;
}

.ButtonGoogle{
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
   padding-left: 520px;
   padding-top: 30px;
    width: 25%;
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */