@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Alumni+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Dosis:wght@300;400;500;600;700;800&display=swap');
*{
  margin:0;
  padding: 0;
}
body {

  font-family: Alumni Sans;
 background: #202726;
}

code {
  font-family: Alumni Sans;
   
}
