@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Alumni+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Dosis:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Alumni Sans;
  background: #202726;
}

code {
  font-family: Alumni Sans;
}

.MainView {
  display: flex;
  flex-direction: column;
  height: 800px;
  margin-top: 50px;
  margin-left: 50px; 
}

.welcometext{
  margin-left: 165px;
  margin-top: 50px;
}

.writeIcon {
  position: absolute;
  color: #9FA9A9;
  font-size: 2.5rem;
  margin: 45rem 0 0 70rem;
}

p {
  color: #9FA9A9;
  font-size: 50px;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

h1 {
  font-size: 100px;
  font-weight: 400;
  color: #9FA9A9;
}

.fa-bars {
  color: #23473F;
  font-size: 5rem;
}

.NotesView {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

input {
  font-family: Alumni Sans;
  margin: 30px;
  color: #9FA9A9;
  font-size: 50px;
  background-color: transparent;
  border: solid 5px;
  border-radius: 5px;
  border-style: dashed;
  border-color: #23473F;
  width: 90%;
  height:600px;
  text-align: left;
}

.title {
  font-family: Alumni Sans;
  font-size: 100px;
  font-weight: 400;
  color: #9FA9A9;
  border: none;
  width: 90%;
  height: 100%;
  margin-bottom: 0;
}

.fa-floppy-disk{
  color: #9FA9A9;
  font-size: 2.5rem;
  position: absolute;
  margin: 51rem 0 0 75rem;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}